@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background: radial-gradient(circle at top center, #333 0%, #111 100%);
  overflow: hidden;
}

button{
  background-color: #fffff0;
}

button:hover{
  background-color: #bbbbbb;
}

.kredit-jalan {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font: 300 30px/1 'Open Sans Condensed', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 60s credits linear infinite;
}

.judul-game{
  font-size: 70px;
}

.judul-game{
  margin-bottom: 50px;
}

.pekerjaan {
  margin-bottom: 5px;
  font-size: 16px;
}

.nama, .nama-akhir {
  font-size: 25px;
}

.nama-akhir{
  margin-bottom: 50px;
}

@keyframes credits {
    0% { top:  100%; }
  100% { top: -500%; }
}   