@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

button:hover{
    color: red;
    cursor: pointer;
}

img.center{
    width: 353px;
    height: 200px;
}

.pointer{
    cursor: pointer;
}

.tengah{
    text-align: center;
    width:353px;
    margin-left: auto;
    margin-right: auto;
}

.kotak-stage{
    border: 1px solid black;
    width: 80px;
    height: 80px;
    margin-left:10px;
    margin-top: 10px;
    display: inline-block;
}

.bintang{
    text-align: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.no-stage{
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;    
}

.bantuan {
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.isi-bantuan {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.kepala-bantuan {
    padding: 2px 16px;
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid black;
}

.badan-bantuan {
    padding: 2px 16px;}


.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#header-menu{
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: Georgia, Times, sans-serif;
}

#logo{
    margin-top: 20px;
    width:353px;
    height:115px;
    margin-left: auto;
    margin-right: auto;
}

#logo-home{
    float: left; 
    width: 30px; 
    height: 30px; 
    padding-top: 25px;
    margin-left: 10px;
}

#latar{
    width:100%;
    height:100%;
    background-image: url("1.jpg");
}

#kotak-menu{
    
    margin-top:60px;
    width: 353px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#main, #bantuan, #kredit{
    border-radius: 10px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right:auto;
    display: block;
    font-size: 28px;
    width: 100%;
    height:50px;
}

#kotak-menu-stage{
    display: none;
    margin-top:60px;
    width: 353px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#kotak-pilih-stage{
    border: 3px solid black;
    margin-bottom: 30px;
}

#stage{
    margin-top: 26px;
    margin-left: 26px;
    padding-bottom: 34px;
}