*{
    font-family: sans-serif;
}
html, body{
    background-color: lightgrey;
    background-repeat: repeat-x;
}

img{
    width: 60px;
    height: 33px;
}

.pointer{
    cursor: pointer;
}

#kotak-reset-skor{
    float : right;
    color: white;
    background-color: darkred;
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px;
}

.kiri{
    float: left;
}
.tengah{
    text-align: center;
}
.kanan{
    float: right;
}

.car-property{
    display: inline-block;
    outline: solid 1px black;
    --paddingTop: 15px;
    height: calc(60px - var(--paddingTop));
    width: 60px;
    padding-top: var(--paddingTop);
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: white;
}

.keMenu{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.hp-bar{
    display: inline-block;
	width: 1000px; 
	height: auto;
	color: #000000;
    border: solid 3px #000000;
}

.timer{
    top : 100px;   
    font-size : 2em;
    font-weight: bold;
    color:  yellow;
    text-shadow: 2px 1px black;
}

.btn-key{
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: #404040;
}

.break{
    margin-bottom: 10px;
}

#box-gigi{
    background-color: green;
}

#game-wrapper{
    text-align: center;
    min-width: 1000px;
}

#canvas{
    /* background-color: #bbbbbb; */
    margin: 5px;
    border: solid 5px 2px 2px 2px white;
}

#log{
    display: inline-block;
    vertical-align: middle;
    background-color: grey;
    width: 200px;
    height: 60px;
    margin-right: 40px;
    resize: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

#current-hp{
    width: 1000px; 
    height: 20px;
    background-color: #00ff00;
}
